body {
    font-family: sans-serif;
}

.toolbar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.memos {
    position: relative;
    width: 100%;
    height: calc(100vh - 64px);
}

.memo {
    /* background-color: gold; */
    width: 150px;
    height: 150px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem;
    transform-origin: top center;
    overflow-y: auto;
}

button {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:after {
    content: "";
    background-color: #42fad9;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

button:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    button {
        padding: 13px 50px 13px;
    }
}